* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav ul {
  background-color: #844e7d;
  list-style: none;
  display: flex;

  padding: 20px;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 3px;
}

.dream {
  border: 2px solid black;
  /* width: 200px; */
  height: 200px;
  text-align: center;
}

section#dream {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  text-align: center;
  display: flex;

  flex-direction: column;
  padding: 20px;
}

.dream p {
  margin-top: auto;
}

.dream .heart {
  color: red;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dream .edit {
  font-size: 20px;
  padding: 4px;
}
