p {
  color: red;
  background-color: black;
}

#lemon {
  padding: 100px;
}

.banana-guard {
  font-size: 40px;
}
/* Below looks for h4's directly after p tags */
p + h4 {
  height: 30px;
  background-color: red;
  color: white;
}
/* Below styles every p after the h1 */
body h1 ~ p {
  padding-bottom: 200px;
}

ul li {
  list-style: url(https://openclipart.org/download/292933/veggie-salad.svg);
  margin-left: 500px;
}
/* ^ made bullet points an image */

body > h4 {
  font-size: 10px;
  font-family: fantasy;
}
/* ^ looks for h4 inside body*/

body {
  font-family: fantasy;
}

a {
  background-color: aquamarine;
}

/* (inline elements cant change vertical properties) */
