* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 25%;
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: antiquewhite;
}

h1 {
  padding-left: 30%;
}

#tots {
  display: flex;
}
